<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザ編集</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>ユーザ編集</h2>

<form th:action="@{/user-edit}" method="POST" th:object="${userEditForm}">

<table class="detail-table">
	<tr>
		<td class="guide">【ユーザID】</td>
		<td>
			<span th:text="*{userId}"></span>
	    	<input type="hidden" th:field="*{userId}">
		</td>
	</tr>
	<tr>
		<td class="guide">【ユーザ名】</td>
		<td>
		   	<input type="text" th:field="*{userName}"><br>
		   	<div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error-msg"></div>
		</td>
	</tr>
	<tr>
		<td class="guide">【地域】</td>
		<td>
		   	<select th:field="*{areaCode}">
				<option th:each="area : ${areaList}" 
					th:value="${area.areaCode}" 
					th:text="${area.areaCode + ':' + area.areaName}"
					th:selected="${area.areaCode == areaCode}" >
				</option>
			</select>
		   	<div th:if="${#fields.hasErrors('areaCode')}" th:errors="*{areaCode}" class="error-msg"></div>
		</td>
	</tr>
	<tr>
		<td class="guide">【メール】</td>
		<td>
		   	<input type="text" th:field="*{email}" class="long"><br>
		   	<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-msg"></div>
		</td>
	</tr>
</table>

<input type="submit" value="更新" class="btn">

</form>

<br>
<a th:href="@{/user-top}">トップページに戻る</a>

</body>
</html>