<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザ検索・一覧</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>ユーザ検索</h2>

<form th:action="@{/user-search}" method="POST" th:object="${userSearchForm}">
	<table class="condition-table">
		<tr>
			<th>【ユーザ名】（部分一致）</th>
			<th>【地域】</th>
		</tr>
		<tr>
			<td><input type="text" th:field="*{userName}"></td>
			<td>
			   	<select th:field="*{areaCode}">
					<option value="">(全て)</option>
					<option th:each="area : ${areaList}" 
						th:value="${area.areaCode}" 
						th:text="${area.areaCode + ':' + area.areaName}"
						th:selected="${area.areaCode == areaCode}" >
					</option>
				</select>
			</td>
		</tr>
	</table>
   	<input type="submit" value="検索" class="btn">
</form>

<div th:if="${userList} != null">
	<h2>ユーザ一覧</h2>

	<table class="user-list">
		<tr>
			<th colspan="2">ユーザ</th><th>ユーザID</th><th>ユーザ名</th><th>地域</th><th>メール</th>
		</tr>

		<tr th:each="user : ${userList}">
			<td>
				<form th:action="@{/user-show-edit}" method="POST">
					<input type="hidden" name="userId" th:value="${user.userId}">
					<input type="hidden" name="userName" th:value="${user.userName}">
					<input type="hidden" name="areaCode" th:value="${user.area.areaCode}">
					<input type="hidden" name="email" th:value="${user.email}">
					<input type="submit" value="編集" class="tbtn">
				</form>
			</td>
			<td>
				<form th:action="@{/user-remove}" method="POST">
					<input type="hidden" name="userId" th:value="${user.userId}">
					<input type="hidden" name="userName" th:value="${user.userName}">
					<input type="hidden" name="areaCode" th:value="${user.area.areaCode}">
					<input type="hidden" name="areaName" th:value="${user.area.areaName}">
					<input type="hidden" name="email" th:value="${user.email}">
					<input type="submit" value="削除" class="tbtn">
				</form>
			</td>
			<td th:text="${user.userId}"></td>
			<td th:text="${user.userName}"></td>
			<td th:text="${user.area.areaCode + ':' + user.area.areaName}"></td>
			<td th:text="${user.email}"></td>
		</tr>

	</table>

</div>

<br>
<a th:href="@{/user-top}">管理メニューに戻る</a>

</body>
</html>